page-segunda {
    padding: 0;
    margin: 0;
}

ion-navbar ion-title,h1{
    text-align-last: center;
    color: #FF7433;
    
    }
.homeS ion-icon{
        text-align: left;
        padding: 0px 0px;
        font-size: 30px;
    }
    .iconH{
        color: blue;
    }
    .bntH{

       background-color: transparent !important;
    }

.s{
    width: 50%;
}
.reloj{
    width: 15%;
    
}
.relojArena{
    width: 100%;
    margin: 0 auto;
}
.nino{
    width: 15%;

}
.avatarS{
    width: 90%;
    margin: 0 auto;
}
.welcome h2{
    border: 10px outset #20bcd5;
}
.welcome p{
    text-align: center;
    padding: 10px;
}
    ion-card{
        border: 10px outset #20bcd5;
        background-color: #03b6ec;
        background: #03b6ec;
        text-align: center;
        height: 300;
    }
.contS{
        font-size: 13pt;
    }
.bodySegunda{
        background-image: url("../assets/imgs/fondos.jpg")
    }
.imagenAcertada{
    margin:0 auto;
    width: 30%;
}
    
    .section1 {
        background-color: rgb(243,111,72);
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .section1 input{
        font-size: 19pt;
        border: 1px solid #cecece;
        background-color: #efefef;
        color: #03b6ec;
        border-radius: 5px;
        width: 30%;
        outline: none;
        display: inline-block;
        text-align: center;
    }

    .section1 .bloque1 button{
         font-size: 30pt;
         border: 1px solid #cecece;
         padding: 50px 40px 30px;
         color: #f0f6f7;
         border-radius: 5px;
         width: 35%;
         outline: none;
         display: inline-block;
         text-align: center;
     }
     /*#bntNextFin{
        width: 50%;
        margin: 0 auto;
             }*/
     

